* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #1d1d1d;
    padding: 20px;
    text-align: center;
}

.hero {
    margin-top: 100px;
    text-align: center;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    color: #bbbbbb;
    margin-bottom: 40px;
}

input {

    width: 350px;

    padding: 15px;

    border: none;

    border-radius: 8px;

    font-size: 18px;
}

button {

    padding: 15px 25px;

    margin-left: 10px;

    background: #0066ff;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 18px;
}

button:hover {

    background: #004ecc;

}

.player-card {
    background: #1d1d1d;
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
}

.error {
    color: #ff4d4d;
    margin-top: 30px;
    font-size: 20px;
}

.stats-card {
    background: #242424;
    width: 400px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
}

.player-card {
    background: #1d1d1d;
    width: 520px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 18px;
}

.player-card h2 {
    font-size: 36px;
    margin-bottom: 5px;
}

.team,
.season {
    color: #bbbbbb;
    font-size: 20px;
    margin-bottom: 20px;
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.stat-grid div {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
}

.stat-grid h3 {
    font-size: 28px;
    margin-bottom: 5px;
}

.player-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1d428a;
    margin-bottom: 20px;
}

.results-box {
    width: 400px;
    margin: 30px auto;
    background: #1d1d1d;
    padding: 20px;
    border-radius: 12px;
}

.result-button {
    width: 100%;
    margin: 8px 0;
    background: #2a2a2a;
}

.result-button:hover {
    background: #0066ff;
}