*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#121212;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    background:#1d1d1d;
    padding:20px;
    text-align:center;
}

.hero{
    margin-top:100px;
    text-align:center;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#bbbbbb;
    margin-bottom:40px;
}

input{

    width:350px;

    padding:15px;

    border:none;

    border-radius:8px;

    font-size:18px;
}

button{

    padding:15px 25px;

    margin-left:10px;

    background:#0066ff;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;
}

button:hover{

    background:#004ecc;

}